<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width", initial-scale="1">
        <title>Diet Recommendaion</title>
            
        <link rel="stylesheet" type="text/css" href="C:\Users\athar\OneDrive\Desktop\MyCodes\Projects\Mini Project_TE\NutriSevaWebsite\static\css\form.css">
            <!-- Add icon library -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
    </head>
        <body>
            
            <style>
                body {
                  /* background-image: url('book.jpg'); */
                  background-repeat: no-repeat;
                  background-attachment: fixed;
                  background-size: 100% 100%;
                }
                </style>
                
           
            <div class="container">
                <h2>Details for Diet Recommendaion</h2>
                <div class="from-container">
                    <!-- <img src="logo1.png" class="logo"/> -->
                    
                        <form class="input-group" enctype="multipart/form-data">
                            <div class="input-name">
                                Age: 
                                <br>
                                <input type="text" placeholder="Enter Age" name="Age" style="height:30px" size="30px" required>
                            </div>
                            
                            <div class="input-name">
                                Weight:
                                <br>
                                <input type="text" placeholder="Enter weight" name="weight" style="height:30px" size="30px"
                             required>
                            </div>
                            <div class="input-name">
                                Height:
                                <br>
                                
                                <input type="name" placeholder="Enter height (in cm)" name="Height" style="height:30px" size="30px"
                                 required>
                           </div>

                            <div class="input-name">
                                Stream:
                                <br> 
                                <select class="stream" name="Stream" >
                                <option>Diet plan options:</option>
                                <option>Healthy</option>
                                <option>Weight loss</option>
                                <option>Weight gain</option>
                               
                                </select>
                                <div class="arrow"></div>
                            </div>   
                            
                            <input type="submit" class="button" value="veg">
                            <input type="submit" class="button" value="non-veg">
                    
                           <!-- <div class="input-name">
                                Book_Name:
                                <br>
                                
                                <input type="name" placeholder="Name of the book" name="Book_Name" style="height:30px" size="30px"
                                 required>
                           </div>

                            <div class="input-name">
                                Book_Author:
                               <br>
                                <input type="name" placeholder="Author of the book" name="Book_Author" style="height:30px" size="30px" required>
                            </div>

                            <div class="input-name">
                               Book_Edition:
                               <br>
                                <input type="number" placeholder="Edition of the book" name="Book_Edition" style="height:30px" size="25px"  required>
                            </div>

                            <div class="image">
                                <font size="20px">
                                    Upload_image:  
                                </font>
                                <input type="File" name="image">
                               <input type="submit" name="submit" value="Upload"
                            </div>
                            &nbsp;
                            <br>
                            <br>
                            <br>
                            

                            <div class="type">
                                <font size="20px">
                                    Book_Description:
                                <br>
                                </font>
                                <textarea rows="5" col="20" placeholder="Description of the Book" name="Book_Description"></textarea>
                            </div>
                            &nbsp;
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>

                            <div class="input-name">
                               Amount:
                               <br>
                                <input type="number"  placeholder="Amount" name="Amount" style="height:30px" size="30px">
                                
                        
                            <!--<input type="range" > -->
                            </div>
                           <!-- <script type="text/javascript">
                                function rangeSlide(value){
                                    document.getElementById("rangeValue").innerHTML = value;
                                }
                            </script> 
                            <br>
                   
                            <input type="submit" class="button" value="Submit">
                            <input type="reset" class="button" value="Reset"> -->
                
                        </form>
                </div>
            </div>    
        </body>
</html>